<div class="content">
  <h1>Cottage Bukovel (Котеджі Буковель) -</h1>
  <p>Аренда котеджів в Буковелі. В наявності у нас: Маленький дім, середній дім, та великий будинок. Місце для тих хто відає перевагу зимовому спорту або просто відпочинку, тут вхідні умови для комфорту. Ви отримаєте масу незабутніх вражень
    і емоції, які не зрівняються ні з чим.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <h1>Контакти:</h1>
  +380688289113
  <br>
  +380681234582
  <br>
  <br>
  CottageBukovel@gmail.com
  <br>
  <br>
  <br>
  <br>
  <br>

  Адреса: Яремче
  </p>
</div>



</div>
<div class="navigation-buttons">
  <button class="navigation-button" onclick="window.location.href='/registration.html.erb'">Реєстріція</button>
  <button class="navigation-button" onclick="window.location.href='index.html.erb'">Головна</button>
  <button class="navigation-button" onclick="window.location.href='mal.html'">Маленький</button>
  <button class="navigation-button" onclick="window.location.href='Ser.html'">Середній</button>
  <button class="navigation-button" onclick="window.location.href='Vel.html'">Великий</button>
</div>