<div class="content">
  <h1>Середній будинок</h1>
  <p>Ідеально підійде для колективів до 5 людей. Ціна:1000грн/день</p>
</div>
<div class="image">
  <img src="images/3.png" alt="Картинка" width="600" height="500">
</div>
<button class="order-button" onclick="window.location.href='zam.html'">Замовити</button>

<div class="navigation-buttons">
  <button class="navigation-button" onclick="window.location.href='index.html'">Реєстріція</button>
  <button class="navigation-button" onclick="window.location.href='main.html'">Головна</button>
  <button class="navigation-button" onclick="window.location.href='mal.html'">Маленький</button>
  <button class="navigation-button" onclick="window.location.href='Ser.html'">Середній</button>
  <button class="navigation-button" onclick="window.location.href='Vel.html'">Великий</button>

</div>